@font-face {
    font-family: aural;
    src: url(./arual/Arual.ttf);
  }
  
@font-face {
    font-family: corbel;
    src: url(./corbel/CORBEL.TTF);
}

p, li, h1, h1, h3, h4, h5, h6 {
      font-family: corbel;
}

.banner {
    font-family: corbel;
    background-color: #8bcce0;
    text-align: center;
}

.banner a {
    font-weight: 600;
    color: black;
}

.banner h6 {
    margin: auto
}


.header img {
    width: 75%;
    max-width: 100%;
    margin-top: 35px;
}

.header {
    text-align: center;
}


nav a{
    font-family: aural;
    font-size: 25px;
    font-weight: 200;
}


.navbar-nav a {
    color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #8bcce0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
}

.custom-hr-nav {
    margin-top: 0;
}

.custom-hr {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.title {
    text-align: center;
    font-family: corbel;
    padding-bottom: 20px;
}

.service-title {
    padding-top: 15px;
}

.services li {
    text-decoration: none;
}

.note-underline {
    text-decoration: underline;
}

.section-title {
    text-decoration: underline #8bcce0;
    
}

.red {
    color: red;
}

.covid-title {
    color: #8bcce0;
}

.covid-p, .covid-ul {
    color: #13506185;
}

.spaced-text {
    position: relative;
    width: 45%;
}

.span-space {
    position: absolute;
    right: 100px;
    display: flex;
}

.taylor-img {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-gap {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .main-img {
    display: block;
    margin: 0 auto;
    /* width: 70%; */
    background-size: cover;
    background: no-repeat;
} */


@media (max-width: 576px) {
    .navbar-toggler {
        position: absolute;
        right: -5px;
        top: -45px;
    }

    .header img {
        display: block;
        margin: 55px 20 0;
    }

    .span-space {
        right: 25px;
    }

    .about-p {
        text-align: center;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-toggler {
        position: absolute;
        right: -5px;
        top: -53px;
    }

    .header img {
        display: block;
        margin: 55px auto 0;
    }

    .taylor-img {
        width: 50%;
    }

    .span-space {
        right: 25px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-toggler {
        position: absolute;
        right: -5px;
        top: -65px;
    }

    .span-space {
        right: 90px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* .navbar-toggler {
        display: none;
    } */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}